table {width:100%;margin:5px 0px 5px 0px}
table tr td {font-family:Arial;font-size:14px}
table thead tr th {font-family:Arial;font-size:14px}
table tbody tr td {font-family:Arial;font-size:14px}
h1,h2,h3,h4 {padding:0 0 0 0;margin:0 0 0 0;line-height:1.4}
.header tr td {vertical-align:top;}
.header {
	border-bottom:4px double #222222;
	margin-bottom:5px;
}
div,p {
	margin:5px 0px 5px 0px;
	font-family:Arial;font-size:14px
}
.table_outer_border {border:1px solid #000000;padding:10px}
.table_outer_border2 {border:1px solid #000000;padding:0px;}

.table-border {border-collapse: collapse;}
.table-border tr td {
	border:1px solid #000000;
	vertical-align:top;
}
.table-header td {
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
}
.table-no-border tr td {
	border:none;
	vertical-align:top;
}

.table-ku tr td {
	vertical-align:top;
	font-size:13px;
	padding:2px;
	margin:2px;
}

.table-ku2 tr td {
	vertical-align:top;
	font-size:11px;
	padding:2px;
	margin:2px;
}

.table-border2 {border-collapse: collapse;}
.table-border2 tr td {
	font-size:11px;
	border:1px solid #000000;
	vertical-align:top;
	padding:2px;
	margin:2px;
}

.table-border3 {border-collapse: collapse;}
.table-border3 tr td {
	font-size:9px;
	border:1px solid #000000;
	vertical-align:top;
	padding:2px;
	margin:2px;
}
.table-border3 tr th {
	font-size:10px;
	border:1px solid #000000;
	padding:2px;
	margin:2px;
}